[user]
	name = Russell Weatherburn
	email = russell.weatherburn@mediaware.com.au
[push]
	default = simple

[alias]
  hist = log --pretty=format:\"%h %ad | %s [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
